body {
  background: #0d0d0d;
}

/* HERO */
.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("https://wallpapers.com/images/featured/lucha-libre-mexicana-0k0r7o4zvh5n0o3k.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 70px solid #333;
  margin-top: 50px;
  padding-top: 50px !important;
  padding-bottom: 90px !important;
}

/* CATEGORIAS */
.categoria-box {
  background: #111;
  border: 1px solid #333;
  padding: 30px;
  border-radius: 16px;
  transition: 0.3s;
  font-size: 2rem;
}

.categoria-box:hover {
  transform: translateY(-8px);
  border-color: crimson;
  box-shadow: 0 0 20px rgba(220, 20, 60, 0.4);
}

/* CARDS */
.product-card {
  overflow: hidden;
  transition: 0.3s ease;
  position: relative;
  border-radius: 18px;
}

.product-card:hover {
  transform: translateY(-10px);
  border-color: crimson !important;
  box-shadow: 0 0 25px rgba(220, 20, 60, 0.35);
}

.product-card img {
  height: 300px;
  object-fit: contain;
}

.badge-custom {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  padding: 8px 12px;
}

/* BOTONES */
.btn-danger {
  background: crimson;
  border: none;
}

.btn-danger:hover {
  background: #ff1744;
  transform: scale(1.03);
}

/* NAVBAR */
.navbar {
  border-bottom: 2px solid #dc3545;
}
.navbar-brand {
  letter-spacing: 2px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
.navbar-brand:hover {
  color: #dc3545;
}
.nav-link {
  color: white !important;
  margin-left: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}
.nav-link:hover {
  color: #dc3545 !important;
  border-bottom-color: #dc3545;
}

/* FOOTER */
footer {
  border-top: 2px solid #dc3545;
  margin-top: 50px;
  font-size: 1rem;
}
